table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 bottom left repeat-x;
    color: #fff;
    width: 100%;
    height: 521px;
 }
 td, th {
  background: #fff;
  color: #000;
  background-color: cornflowerblue;
  font-family: sans-serif;
 }
 td ul{
   text-align: left;
   width: 200px;
 }
 table td:hover {
   cursor: pointer;
}
#reloj{
  border: outset;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}
#tituloreloj{
  text-align: center;
}
 td{
  text-align: center;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 20px;
  background-color: cadetblue;
  font-family: cursive;
 }
 #siguiente{
     float: right;
 }
 .button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .button:hover{
    color: #1883ba;
    background-color: #ffffff;
    cursor: pointer;
  }
  #alarmas{
    display: none;
  }
  #alarmas.mostrar{
    display: block;
    order: 5;
  }
  body{
    display: flex;
    flex-direction: column;
  }